@model HomeModel
@{
    ViewData[@"Title"] = @"Kaito-RAG";
}
<div class="container flex-grow-1 d-flex flex-column ">
    <div id="partialActions">
        <partial name="_HomeActionsPartial" model="@Model" />
    </div>
    <div class="d-flex flex-column flex-grow-1 p-2">

        <div id="webchat-container">            
            <div id="webchat" role="main"></div>
        </div>
    </div>
</div>

@section Header {
    @{
        await Html.RenderPartialAsync(@"_HomeHeaderPartial");
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync(@"_HomeScriptsPartial");
    }
}